<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>
    <nav>
        <ul>
            <li><a href="/">
                    Home
                </a></li>
            <li><a href="/about">
                    About
                </a></li>
            <li><a href="/works">
                    Works
                </a></li>
            <li><a href="/photo-gallery">
                    Photo Gallery
                </a></li>
        </ul>
    </nav>

    <h1>Photo Gallery</h1>
    <div class="imgcontainer">
        <div class="card" style="width: 18rem;">
            <img src="/image/1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Light is characterized as hardworking, talented, and a natural genius. Highly
                    perceptive and good with problem solving skills, Light is a skilled planner and good at mapping out
                    scenarios. Furthermore, Light is very popular among peers and adored by his family members. However,
                    his high intelligence and constant praise from adults laid the foundation for an intense level of
                    hubris which quickly took effect once he obtained the notebook.</p>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="/image/l.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">L is quite secretive, and only communicates with the world through his assistant,
                    Watari. He never shows his face to the world in person, instead representing himself with a capital
                    letter L drawn in "Old English MT" or "Cloister Black" typeface. It is more likely to be "Cloister
                    Black" as Watari's "W" is different in "Old English MT."</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/image/ryuk.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Ryuk is different from most Shinigami in that he does not want to simply pass time
                    away in the Shinigami Realm but find something to relieve his boredom, and he is unaffected by the
                    mocking he receives from other Shinigami for it.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/image/lisa.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Misa is very outgoing and is shown to be quite popular due to her career. She
                    attracts a large crowd while visiting Light near his school.She is hyperactive, impulsive, and
                    otherwise childlike, evidenced by her tendency to speak in the third person. Despite being
                    considered idiotic by many, Misa is shown to have moments of intelligence, such as when she
                    successfully tricks Kyosuke Higuchi into revealing himself to be the Yotsuba Kira.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/image/teru.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Considering Kira to be his God, Mikami is a devout Kira-worshiper. His answer to a
                    Kira’s Kingdom question that asked what he thought of Kira was simply "God." His loyalty to Kira is
                    exemplified when he forces himself to stop questioning Kira after he is perplexed by the task of
                    creating and using a fake notebook. Aside from his disdain of "lazy people", Mikami shares the same
                    view on crime as Kira, which is what made Light choose him to carry out judgments when he was put
                    under surveillance.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="/image/mello.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">Mello is the older of L's two successors raised at Wammy's House, Watari's
                    orphanage for gifted children in Winchester, England. When Roger asks that Mello and Near work
                    together to capture Kira, Mello refuses, pointing out the differences between them. He leaves the
                    orphanage soon after and eventually seeks help from the Mafia.</p>
            </div>
        </div>

    </div>

</body>

</html>